
.icon-gift:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-delivery:before { content: '\e813'; } /* '' */
.icon-pay:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e815'; } /* '' */
.icon-sign-in:before { content: '\e816'; } /* '' */
.icon-angle-l:before { content: '\e817'; } /* '' */