-
  $.paths = {
    assets: 'assets'
  };

  $.pages = {
    home: {title: 'Pages', url: 'home.html'},
    index: {title: 'Index', url: 'index.html'}
  };

  $.modals = {

  };

  $.set = {
    page: 'home',
    breadcrumbs: [$.pages.home]
  }

  var jsHref = 'javascript:';