.radio {
  $root: &;
  display: inline-block;
  vertical-align: top;
  align-items: flex-start;
  font-size: rem(16);
  line-height: em(28/16);
  text-align: left;
  position: relative;
  margin-left: rem(43);

  &__input {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    width: 0;
    height: 0;
    &:focus {
      & ~ #{$root}__icon {
        border-color: $blue-1;
      }
    }
    &:checked {
      & ~ #{$root}__icon {
        &:before {
          display: block;
        }
      }
    }
    &.disabled,
    &:disabled {
      & ~ #{$root}__icon {
        @include disabled;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $body-color;
    text-align: center;
    width: rem(28);
    height: rem(28);
    position: absolute;
    top: em(28/16/2);
    left: rem(-43);
    margin: rem(-14) 0;
    border-radius: rem(2);
    background-color: #fefefe;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    transition: $transition-base;
    &:before {
      display: none;
      font-size: rem(14);
      line-height: 1em;
    }
  }

  &__label {
    display: block;
  }

  &.parsley-error {
    & #{$root}__icon {
      border-color: $red;
    }
  }
}