.section-clients {
  padding: rem(25) 0;

  &__title {
    font-size: rem(30);
    line-height: (42/38);
    text-align: center;
    margin: 0 0 (15/38*1em);
  }

  @include media-breakpoint-up(md) {
    padding: rem(50) 0;

    &__title {
      font-size: rem(38);
    }
  }
}